
{:source-paths ["src" "polyfill" "cli"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/shell-page   "0.1.9"]
                [respo                  "0.10.2"]
                [respo/ui               "0.3.10"]
                [respo/value            "0.2.5"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :socket-repl false
 :builds {:browser {:target :browser
                    :output-dir "target/"
                    :asset-path "."
                    :modules {:main {:init-fn recollect.main/main!}}
                    :devtools {:after-load recollect.main/reload!
                               :http-root "target"
                               :http-port 7000}
                    :release {:output-dir "dist/"
                              :module-hash-names 8
                              :build-options {:manifest-name "assets.edn"}}}
          :test {:target :node-script
                 :output-to "target/test.js"
                 :main recollect.test/main!
                 :devtools {:after-load recollect.test/main!}}
          :ssr {:target :node-script
                :output-to "target/ssr.js"
                :main recollect.render/main!
                :devtools {:after-load recollect.render/main!}}}}
